.button {
  border: none;
  font-size: $font-size-large;
  padding: $s-size;
  background-color: $blue;
  color: white;
  border-radius: 2px;
  font-weight: 100;
  border-bottom: 2px solid darken($color: $blue, $amount: 10%);
  display: inline-block;
  text-decoration: none;
  line-height: 1;
}

.button--link {
  background: none;
  border: none;
}

.button--secondary {
  background: #888888;
  border: none;
  border-bottom: 2px solid darken($color: #888888, $amount: 10%);
}